body{
    padding: 0;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 60%;
}
li{
    list-style-type: none;
}
nav{
    background-color: black;
    color: aliceblue;
    height: 40px;
    padding: 1%;
    font-size: larger;
    font-weight: bolder;
}
h1{
    text-align: center;
}

.competition-title{
    text-align: center;
}
aside{
    max-width: 20%;
    margin-left: 30px;
    color: black;
    background-color: yellowgreen;
    height: 50px;
}
section{
    margin-bottom: 100px;
}
article{
    max-width: 60%;
    margin-left: 6%;
}
header{
    margin: 20px 20px;
}
.card{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}
.author-icon{
    max-width: 10%;
}
.author-name{
    vertical-align: top;
    margin-left: 2px;
}
.date-span{
    text-align: end;
}
#team-pos{
    margin-top: 20px;
    margin-right: 60px;
    position: sticky;
    top: 0;
    left: 0;
    float: right;
}
.table-competition-title{
    text-align: center;
    background-color: black;
    color: white;
}
.result{
    text-align: center;
}
.home{
    text-align: left;
}
.away{
    text-align: end;
}
footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}

#title{

}

.continents{
    padding: 10px;
}

.continents .name{
    color: darkred;
}

.competitions{

}

.author{
    font-weight: bold;
}
.date{
    font-style: italic;
}






h1{
    text-align: center;
}


h1.Logo_website {
    font-size: 70px;
}

.nav_top_links {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.nav_top_links a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    margin-bottom: 5px;
}

#search_block{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#search_button {
    margin: 0 auto;
    background-color: white;
    color: #444444;
    border: 1px solid #000000;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
}

#search_button:hover {
    background-color: #777777;
}

@media (max-width: 800px) {

    .nav-toggle {
        display: block;
    }

    .nav {
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        margin: 0;
    }

    

    .navLinks a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        margin-bottom: 5px;
    }

    .closebtn {
        position: absolute;
        display: block;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #f1f1f1;
    }

    .burger div:before {
        border-bottom: 1px solid black;
    }

    .burger div:after {
        border-bottom: 1px solid black;
    }
}

@media (min-width: 800px) {
    main {
        padding-top: 10%;
    }

    .Menu {
        padding: 0;
        padding-top: 2%;
    }

    .navLinks a {
        font-size: 28px;
        margin: 0% 7%;
    }

    article {
        margin: 4% 0;
    }

    .articlePhoto {
        width: 50%;
    }

    p.articlePreviewText {
        max-width: 50%;
        text-align: justify;
        margin: 0 auto;
    }

    #searchContainer {
        margin-top: 0;
    }
}